<div style="width: 400px; margin-left: auto; margin-right: auto; text-align: center; border: 1px solid #ccc; margin-top: 40px;">
  <% form_tag session_path do -%>
    <div style="margin-top: 10px; margin-bottom: 20px; "><h1>Logowanie do systemu</h1></div>
    <div style="margin-bottom: 5px; "><label for="login">Login</label><%= text_field_tag :login, '', :style => 'width: 180px;' %></div>
    <div style="margin-bottom: 5px; "><label for="password">Hasło</label><%= password_field_tag :password, '', :style => 'width: 180px;' %></div>
    <div style="margin-bottom: 15px; padding-left: 127px; text-align: left; "><%= submit_tag 'Zaloguj' %></div>
  <% end -%>
</div>